body {
  color: #f2f2f2;
  background-color: #323232;
  margin-top: 5%;
  margin-bottom: 20%;
  /*margin-left: 10%;
  margin-right: 10%;*/
}

.block {
  display: block;
  max-width: 49rem;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  color: #ffffff;
  padding-top: 10%;
  font-size: 200%;
}

h2 {
  color: #ffffff;
  padding-top:5%;
  font-size: 170%;
}

p {
  padding-top:1%;
  font-size: 120%;
}

a {
  color: #ff6666;
  text-decoration: none;
}
